# this only regenerates the html files when the source markdown changes
# this is so that code references in the generated presentation are consistent
# because the code can change after a presentation but we want to keep the old embedded code / not overwrite it with new code

on:
  push:
    branches:
      - main

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Site cache
        uses: actions/cache@v4
        with:
          path: _site/
          key: site-cache-${{ hashFiles('.presos/*.md') }}
          restore-keys: site-cache-

      - uses: actions/setup-node@v6

      - run: npm install
        working-directory: .presos

      - run: ./.github/scripts/preso_gen.sh

      - name: setup pages
        uses: actions/configure-pages@v5

      - name: upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy-pages:
    runs-on: ubuntu-latest
    needs: build-and-upload
    permissions:
      pages: write
      id-token: write
    steps:
      - id: deployment
        name: deploy pages
        uses: actions/deploy-pages@v4
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
